

:host {
    display: block;
    background-color: #751d30; 
    min-height: 100vh; 
}
img {
    width: 100%;
    height: auto;
}
h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ea929d; 
    padding: 1.5em;
    
}
nav div {
    flex: 1;
    text-align: center;
}
a{
    color: rgb(27, 27, 27);
    text-decoration: none;
}
a:hover {
    color: rgb(214, 95, 180);
}