div {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
@media (max-width: 1200px) {
    div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 900px) {
    div {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    div {
        grid-template-columns: 1fr;
    }
}